.about-text {
  margin-top: 50px;
}

.skills {
  line-height: 25px;
  padding: 0px;
}

.more-skills-header {
  display: flex;
  justify-content: flex-end;
}

.more-skills-description-row {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  .more-skills-1-p {
    margin-top: 50px;
  }
}

.more-skills-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.more-skills-2a,
.more-skills-2b {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.more-skills-2b {
  padding: 0px;
}
