.contact-container {
  margin-top: 350px;
  .contact-row {
    display: flex;
    align-items: center;
  }
}

.contact-button-col {
  display: flex;
  justify-content: center;
  .button {
    padding-left: 40px;
    padding-right: 40px;
  }
}
