@import "../base/media-queries";

.fa-icon {
  position: fixed;
  left: 75px;
  @media only screen and (min-resolution: 200dpi), (-webkit-min-device-pixel-ratio: 2) {
    display: none;
  }
  @media #{$md-and-smaller} {
    display: none;
  }
}
.fa-github {
  bottom: 55%;
}
.fa-linkedin-in {
  bottom: 50%;
}
.sideways-links {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 24%;
  transform: rotate(-90deg);
  left: -167px;
  @media only screen and (min-resolution: 200dpi), (-webkit-min-device-pixel-ratio: 2) {
    display: none;
  }
  @media #{$md-and-smaller} {
    display: none;
  }
  .vertical-line-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 1px;
    content: "";
    .email-span {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: 150px;
      @media #{$ie11} {
        margin-top: -10px;
      }
      .email {
        margin-top: 5px;
        padding-left: 36px;
      }
    }
  }
}

.landing-section-container {
  height: 100vh;
  @media #{$md-and-smaller} {
    height: auto;
  }
  .landing-section-row {
    display: flex;
    align-items: center;
    height: 100%;

    .hero-hello {
      margin-bottom: 20px;
      margin-left: 14px;
      @media #{$md-and-smaller} {
        margin-left: 0px;
        margin-top: 50px;
      }
    }
    .button {
      @media #{$ie11} {
        display: inline-block;
      }
    }
  }
}
