.more-projects-container {
  margin-top: 250px;
  .more-projects-header-col {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  .more-projects-col {
    height: 400px;
    display: flex;
    .more-projects-card {
      width: 100%;
    }
  }
}

.see-more-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
