.about-section-header-col {
  @media #{$md-and-smaller} {
    margin-top: 80px;
  }

  .about-title {
    color: $lightest;
    font-family: "Ciutadella SemiBold Italic";
    font-size: 30px;
    letter-spacing: 2px;
    border-bottom: 1px solid $pinkAccent;
  }
}

.about-paragraph {
  color: $main;
  font-family: "Ciutadella Regular";
}

.skills-col {
  @media #{$md-and-smaller} {
    width: 50%;
  }

  .skills {
    list-style: none;
    font-family: "FiraCode Regular", monospace;
    font-size: 13px;
    color: $main;
    letter-spacing: 1px;
    li {
      &:before {
        content: "▹";
        color: $pinkAccent;
        letter-spacing: 10px;
        font-size: 18px;
      }
    }
  }
}

.recent-tech {
  color: $pinkAccent;
}

.more-skills-header {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  @media #{$md-and-smaller} {
    justify-content: flex-end;
  }

  .more-skills-title {
    color: $lightest;
    font-family: "Ciutadella SemiBold Italic";
    font-size: 30px;
    letter-spacing: 2px;
    border-bottom: 1px solid $pinkAccent;
  }
}

.more-skills-1-p,
.more-skills-2-p {
  color: $main;
  font-family: "Ciutadella Regular";
}

.more-skills-1 {
  list-style: none;
  font-family: "FiraCode Regular", monospace;
  font-size: 13px;
  color: $main;
  letter-spacing: 1px;
  @media #{$md-and-smaller} {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
  }
  li {
    &:before {
      content: "▹";
      color: $pinkAccent;
      letter-spacing: 10px;
      font-size: 18px;
    }
  }
}

.more-skills-2a,
.more-skills-2b {
  list-style: none;
  font-family: "FiraCode Regular", monospace;
  font-size: 13px;
  color: $main;
  li {
    &:before {
      content: "▹";
      color: $pinkAccent;
      letter-spacing: 10px;
      font-size: 18px;
    }

    @media #{$md-and-smaller} {
      &:after {
        content: "◃";
        color: $pinkAccent;
        letter-spacing: 10px;
        font-size: 18px;
      }
      &:before {
        content: "";
      }
    }
  }
}

.more-skills-col-1 {
  @media #{$md-and-smaller} {
    display: flex;
    justify-content: flex-end;
  }
  .more-skills-2a {
    @media #{$md-and-smaller} {
      padding-left: 0px;
      text-align: right;
    }
  }
}

.more-skills-col-2 {
  @media #{$md-and-smaller} {
    display: flex;
    justify-content: flex-end;
  }
  .more-skills-2b {
    text-align: right;
    @media #{$md-and-smaller} {
    }
  }
}

.art-portfolio-btn-div {
  a {
    text-decoration: none;
  }
}
