.contact-header {
  color: $lightest;
  font-size: 50px;
  font-family: "Ciutadella Bold";
  text-align: center;
}

.contact-cta {
  text-align: center;
  font-family: "Ciutadella Regular";
  color: $main;
  font-size: 18px;
}
