@import "../base/media-queries";

.fa-icon {
  color: $landingGray;
  transition: 0.2s ease-in-out;
  &:hover {
    transition: 0.2s ease-in-out;
    color: $pinkAccent;
  }
}

.sideways-links {
  .vertical-line-top {
    background: $lightest;
  }
  .email-span {
    width: 200px;
    background-color: #2d2a2e;
    .email {
      font-family: "FiraCode Regular", monospace;
      color: $landingGray;
      transition: 0.2s ease-in-out;
      letter-spacing: 0.5px;
      text-decoration: none;
      font-size: 13px;
      &:hover {
        color: $pinkAccent;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.hero-div {
  font-family: "Ciutadella Bold";
  line-height: 1;
  transition: 0.3s ease;

  .hero-hello {
    color: $pinkAccent;
    font-family: "FiraCode Regular", monospace;
    transition: 0.4s ease-in-out;
    &:hover {
      transform: translateY(-10px) scale(1.02);
      transition: 0.4s ease-in-out;
    }
  }
  .hero-my-name {
    background-color: transparent;
    font-size: 88px;
    transition: 0.4s ease-in-out;
    &:hover {
      transform: translateY(-10px) scale(1.02);
      transition: 0.4s ease-in-out;
    }
  }
  .hero-blurb {
    font-size: 70px;
    color: $landingGray;
    transition: 0.4s ease-in-out;
    &:hover {
      transform: translateY(-10px) scale(1.02);
      transition: 0.4s ease-in-out;
    }
  }
  .blinking-cursor {
    margin-left: 5px;
    height: 60px;
    margin-bottom: -4px;
    width: 5px;
    background: $landingGray;
    opacity: 0;
    display: inline-block;
    animation: blink 1.2s linear infinite alternate;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
