.more-projects-col {
  .more-projects-card {
    background-color: $componentBackground;
    box-shadow: 10px 10px 50px rgb(39, 38, 38);
    transition: 0.2s ease-in-out;
    &:hover {
      transform: translateY(-15px);
      transition: 0.3s ease-in-out;
    }
  }
}

.more-projects-header-text {
  color: $lightest;
  font-family: "Ciutadella SemiBold Italic";
  font-size: 30px;
  letter-spacing: 2px;
  border-bottom: 1px solid #ff6188;
}

.see-more-button-link {
  &:hover {
    text-decoration: none;
  }
}

.github {
  transition: 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $pinkAccent;
    transition: 0.2s ease-in-out;
  }
}
