.nav-container {
  padding: 0px;
}
.nav-col-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media #{$md-and-smaller} {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.self-logo {
  max-width: 50px;
  margin-left: 50px;
  margin-bottom: 16px;
  @media #{$md-and-smaller} {
    margin-left: 0px;
  }
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  list-style: none;
  @media #{$md-and-smaller} {
    margin-top: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav-li {
    @media #{$md-and-smaller} {
      margin-top: 22px;
    }
    .nav-num {
      padding-right: 10px;
      color: $pinkAccent;
    }
    .nav-link-email,
    .nav-link-github,
    .nav-link-link,
    .nav-link-resume {
      margin-right: 50px;
      color: $lightest;
      transition: 0.2s ease-in-out;
      &:hover {
        transition: 0.2s ease-in-out;
        color: $pinkAccent;
        text-decoration: none;
      }
    }
    .nav-link-resume {
      padding: 10px;
      border: 1px solid $pinkAccent;
      border-radius: 4px;
      color: $pinkAccent;
      @media #{$md-and-smaller} {
        padding-left: 22px;
        padding-right: 22px;
      }
      &:hover {
        transition: 0.2s ease-in-out;
        background-color: $pinkAccent;
        color: white;
      }
    }
    .nav-num,
    .nav-link-name {
      font-family: "FiraCode Regular", monospace;
    }
  }
}
