.nav-container {
  padding: 0px;
}
.nav-col-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.self-logo {
  max-width: 50px;
  margin-left: 50px;
  margin-bottom: 16px;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  list-style: none;
  .nav-li {
    .nav-num {
      padding-right: 10px;
      color: #ff6188;
    }
    .nav-link-name {
      margin-right: 50px;
      color: #fdf9f3;
      transition: 0.2s ease-in-out;
      &:hover {
        transition: 0.2s ease-in-out;
        color: #ff6188;
      }
    }
    .link-resume {
      padding: 10px;
      border: 1px solid #ff6188;
      border-radius: 4px;
      color: #ff6188;
      &:hover {
        transition: 0.2s ease-in-out;
        background-color: #ff6188;
        color: white;
      }
    }
    .nav-num,
    .nav-link-name {
      font-family: "Fira Code", monospace;
    }
  }
}
