@font-face {
  font-family: "Ciutadella Light";
  src: url("/static/fonts/Ciutadella\ Light.woff") url("/static/fonts/Ciutadella\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Regular";
  src: url("/static/fonts/Ciutadella\ Regular.woff"), url("/static/fonts/Ciutadella\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Medium";
  src: url("/static/fonts/Ciutadella\ Medium.woff"), url("/static/fonts/Ciutadella\ Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Medium Italic";
  src: url("/static/fonts/Ciutadella\ Medium\ Italic.woff"), url("/static/fonts/Ciutadella\ Medium\ Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella SemiBold";
  src: url("/static/fonts/Ciutadella\ SemiBold.woff"), url("/static/fonts/Ciutadella\ SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella SemiBold Italic";
  src: url("/static/fonts/Ciutadella\ SemiBold\ Italic.woff"), url("/static/fonts/Ciutadella\ SemiBold\ Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ciutadella Bold";
  src: url("/static/fonts/Ciutadella\ Bold.woff"), url("/static/fonts/Ciutadella\ Bold.ttf") format("truetype");
}

@font-face {
  font-family: "FiraCode Regular";
  src: url("/static/fonts/FiraCode\ Regular.woff"), url("/static/fonts/FiraCode\ Regular.woff") format("truetype");
}
